<style>
    .titles{
        font-family: sans-serif;
        font-weight: bold;
        color: #3d3d3d;
    }
</style>
<div class="container container-fluid">

<div class="col-xs-6">
    <p class="titles">public class Test{</p>

    <form action="/" method="POST">
        <i>//Attribute Declarations</i><br>
        <textarea name="attributes" placeholder="Add your attribute declarations here" rows="2" cols="50">
int age;
String name;
        </textarea><br>
        <i>//Constructors</i><br>
        <textarea name="constructors" placeholder="Add your constructors here" rows="7" cols="50">
public Test(int age, String name){
    this.age = age;
    this.name = name;
}
private Test(int age){
    this.age = age;
}
        </textarea><br>
        <i>//Functions</i><br>
        <textarea name="functions" placeholder="Add your functions here" rows="7" cols="50">
public int getAge(){
    return this.age;
}
public static String getName(){
    return this.name;
}
        </textarea><br>
        <p class="titles">public static void main(String[] args){</p>
        <textarea name="main" placeholder="This is your playground, test around here" rows="2" cols="50"></textarea><br>
        <p class="titles">}<br>
        }</p>
        <input class="btn btn-danger" type="submit" value="Submit" />
    </form>
</div>
    <div class="col-xs-6">
        <div class="row center text-center">
            <div class="col-xs-6">
                <p>Variable Representation</p>
                <button class="btn btn-info">Bars</button>
                <button class="btn btn-success">Text</button>
            </div>
            <div class="col-xs-6">
                <p>Variable Representation</p>
                <button class="btn btn-info">Bars</button>
                <button class="btn btn-success">Text</button>
            </div>
        </div>
        <div class="row center text-center">
            <p><h3>Attributes</h3></p>
            {{#each attributes}}
                <p class="attribute-name col-xs-4">{{this.name}} - <span class="attribute-type">{{this.type}}</span></p>
            {{/each}}
        </div>
        <hr>
        <div class="row center text-center">
            <p><h3>Constructors</h3></p>
            <p class="constructor-name">Test</p>
                {{#each constructors}}
                <div class="row">
                    {{#each this.parameters}}
                        <p class="col-xs-4 constructor-parameter">{{this.name}} {{this.type}}</p>
                    {{/each}}
                </div>
                {{/each}}
        </div><hr>
        <div class="row center text-center">
            <p>
                <h3>Functions</h3>
            </p>
            {{#each functions}}
                <div class="col-xs-4 function text-left">
                    <span class="function-label">Name:</span> <span class="function-name">{{this.name}}</span><br>
                    <span class="function-label">Static:</span> <span class="function-name">{{this.static}}</span><br>
                    <span class="function-label">Returns:</span> <span class="function-name">{{this.returnType}}</span><br>
                    <span class="function-label">Access:</span> <span class="function-name">{{this.access}}</span><br>
                </div>
            {{/each}}
        </div><hr>
        <div class="row center text-center">
            <h3>Variables</h3>
            {{#each _main.variables}}
            <div class="row">
                <p>{{this.name}}</p>
                <p style="font-size:130%;color:red;">{{this.type}}</p>
                <p>Value</p>
                <div class="bar_group__bar thin" label="Vuaxhall Corsa" show_values="true" unit="mpg" value="343"></div>
                <div class="bar_group__bar thin" label="Toyota Celica" show_values="true" unit="mpg" value="235"></div>
                <div class="bar_group__bar thin" label="Landrover" show_values="true" unit="mpg" value="675"></div>
                <div class="bar_group__bar thin" label="Peagueot 106" show_values="true" unit="mpg" value="456"></div>
                <div class="bar_group__bar thin" label="Lawnmower" show_values="true" unit="mpg" value="245"></div>
            </div>
            {{/each}}
        </div>
    <p>{{ error }}</p>
    </div>
</div>